.notFound {
  min-height: 80vh;
  text-align: center;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notFound a{
  color: #4979ff;
  text-decoration: underline;
}
