.bannerTitle {
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-70%, -80%);
  color: #fff;
}
.customBtn {
  display: inline-block;
  border: 1px solid #d8d8d8 !important;
  color: #fff !important;
  background-color: #a02f51 !important;
  padding: 10px 50px !important;
  letter-spacing: 2px;
  margin-top: 11px;
  transition: 0.5s !important;
  border-radius: 10px;
}
.customBtn:hover {
  background: #d8d8d8 !important;
  border: 2px solid #a02f51 !important;
  color: #000000 !important;
  transition: 0.5s;
  text-decoration: none;
}
.logo{
  width: 300px;
  margin-bottom: 10px
}
.banner{
  position: relative;
  height: 650px;
  background-size: cover;
  width: 100%;  
}

/* SeachBar */
.wrapper {
  text-align: center;
  position: relative;
  height: 60px;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper input {
  box-sizing: border-box;
  font-size: 18px;
  vertical-align: top;
}
.search {
  padding: 0 30px;
  font-size: 35px;
  width: 60%;
  max-width: 400px;
  height: 60px;
  border: 1px solid #b3b3b3;
  border-radius: 20px 0 0 20px;
}
.submit {
  cursor: pointer;
  border: none;
  background: url("http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png") no-repeat center center, #383535;
  background-size: 35px 35px;
  border-radius: 0 20px 20px 0;
  padding: 15px 25px;
  display: inline-block;
  width: 150px;
  height: 60px;
  color: aliceblue;
}

.bannerTitle h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
