.bannerTitle {
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-70%, -80%);
  color: #fff;
}
.customBtn {
  display: inline-block;
  border: 1px solid #d8d8d8 !important;
  color: #fff !important;
  background-color: #a02f51 !important;
  padding: 10px 50px !important;
  letter-spacing: 2px;
  margin-top: 11px;
  transition: 0.5s !important;
  border-radius: 10px;
}
.customBtn:hover {
  background: #d8d8d8 !important;
  border: 2px solid #a02f51 !important;
  color: #000000 !important;
  transition: 0.5s;
  text-decoration: none;
}
.logo{
  width: 300px;
  margin-bottom: 10px
}
.banner{
  position: relative;
  height: 650px;
  background-size: cover;
  width: 100%;  
}
.bannerTitle h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
