.ratingIcon {
  color: #ede11a !important;
  font-size: 15px;
}
.sliderCard {
  margin: 0 5px;
}
.lectures span{
  font-size: 14px;
}
.rating{
  display: block;
}
.ratingNumber{
  font-weight: 800;
}
.language {
  display: block;
}
.difficulty{
  display: block;
  text-align: right;
  font-size: 15px;
}
.instructor {
  display: block;
  color: #797979;
}

.cardImage{
  height: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 5px 5px #afaaaa;
}
.cardImage img{
  height: 100%;
}

.overlayContent{
  width: 100%;
  color: #ddd;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cartButton{
  padding: 5px 20px;
  background: #1fe3ef;
  color: #ffffff;
  font-weight: 700;
  
  border-radius: 5px;
  border: 1px solid #cccccc;

}
