/* Upper main banner  */
.courseBanner {
  background-color: #2e3d49;
  padding: 100px;
  text-align: center;
  color: aliceblue;
}
.courseBanner h2 {
  color: aliceblue;
}
.courseBanner p {
  color: aliceblue;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Rating Style  */
.ratingIcon {
  color: #ede11a !important;
  font-size: 15px;
}
.rating {
  display: block;
}
.ratingNumber {
  font-weight: 800;
}
