.courseBanner {
  background-color: #2e3d49;
  padding: 100px;
  text-align: center;
}
.courseBanner h2 {
  color: aliceblue;
}
.courseBanner p {
  color: aliceblue;
  font-size: 18px;
  margin-bottom: 20px;
}
