<!-- 
Title Design 

.title span {
  display: inline-block;
  position: relative;
}
.title span:before {
  content: "";
  height: 6px;
  border-top: 3px solid #a02f51;
  border-bottom: 3px solid #a02f51;
  width: 5em;
  margin: 0 1.5em;
  position: absolute;
  bottom: 0.5em;
}
.title span:after {
  content: "";
  height: 6px;
  border-top: 3px solid #a02f51;
  border-bottom: 3px solid #a02f51;
  width: 5em;
  margin: 0 1.5em;
  position: absolute;
  bottom: 0.5em;
}
.title span:before {
  right: 100%;
}
.title span:after {
  left: 100%;
} 
 -->
