.successcardimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    background: url(https://picsum.photos/50/50);
}

.successcardbutton {
    display: flex;
    justify-content: center;

}