html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
h2 {
  font-family: 'Fira Sans', sans-serif;
}

/* === Slick === */
.slick-next:before,
.slick-prev:before {
  color: #a02f51 !important;
}

/* === tab === */
.nav-item {
  position: relative;
}
.nav-tabs .nav-link.active {
  background-color: #02b3e4 !important;
  color: #ffffff !important;
}
.nav-tabs .nav-link.active:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #02b3e4;
  width: 0.83437rem;
  height: 0.83437rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 85%;
  right: 45%;
  z-index: -1;
}

.card-title{
  font-size: 16px !important;
  height: 40px;
}
.card:hover #overlay {
  opacity: 0;
  transform: translateX(200%);
}
#overlay {
  cursor: pointer;
  background: rgb(0 0 0 / 78%);
  color: #fafafa;
  width: 50%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  transform: translateX(100%);
  opacity: 1;
  padding: 15px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* === category css === */
.category-image {
  position: relative;
  overflow: hidden;
}
.category-image img{
  width: 100%;
}
.category-overlay{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  background: rgb(0 0 0 / 64%);
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px #ffffff;
  transition: 0.5s;
}
.category-overlay-content{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%,-50%);
  text-align: center;
}
.category-overlay-content h5{
  letter-spacing: 2px;
}
.category-box:hover .category-overlay{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}


@media (min-width: 1280px) {
  .container {
    max-width: 1660px !important;
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
}
