html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
h2 {
  font-family: 'Fira Sans', sans-serif;
}

/* === Slick === */
.slick-next:before,
.slick-prev:before {
  color: #a02f51 !important;
}

/* === tab === */
.nav-item {
  position: relative;
}
.nav-tabs .nav-link.active {
  background-color: #02b3e4 !important;
  color: #ffffff !important;
}
.nav-tabs .nav-link.active:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #02b3e4;
  width: 0.83437rem;
  height: 0.83437rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 85%;
  right: 45%;
  z-index: -1;
}

/* === Card === */
.card:hover #overlay {
  opacity: 0;
  transform: translateX(200%);
}
#overlay {
  cursor: pointer;
  background: rgb(0 0 0 / 78%);
  color: #fafafa;
  width: 50%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  transform: translateX(100%);
  opacity: 1;
  padding: 15px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* === category css === */
.category-image {
  position: relative;
  overflow: hidden;
}
.category-image img{
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 300ms;
  transition: 300ms;
  transition: 0.5s;
}
.category-overlay{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  background: rgb(0 0 0 / 64%);
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px #ffffff;
  transition: 0.5s;

}
.category-overlay-content{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%,-50%);
  text-align: center;

}
.category-overlay-content h5{
  letter-spacing: 2px;
}
.category-box:hover .category-overlay{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.category-box:hover .category-image img{
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
  display: inline-block;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1660px !important;
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
}

/* cart  nav */
.cartNav {
  position: fixed;
  top: 50%;
  width: 70px;
  /*height: 80px;*/
  right: 0;
  z-index: 999;
  transform: translate(0%, -50%);
  /*padding: 5px;*/
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.cart-icon{
  display: block;
  padding: 6px;
  background: #46cacc;
  border: 1px solid #46cacc;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.cart-text{
  display: block;
  padding: 6px;
  color: #000000 !important;
  background: #ffffff;
  border: 1px solid #46cacc;
  box-shadow: -1px 1px 10px black;
  letter-spacing: 2px;
  font-weight: 600;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.cartMenu {
  right: -100%;
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 850ms;
}

.cartMenu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #b12525;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}


/* Sidebar Style  */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
