html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.layer{
  margin-bottom: 8em;
}
.banner{
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-70%, -80%);
  color: #fff;
}
.title {
  color: #a02f51;
  letter-spacing: 6px;
  text-shadow: 1px 0px 2px #fffdfd;
}
.custom-btn{
  display: inline-block;
  border: 1px solid #d8d8d8 !important;
  color: #fff !important;
  background-color: #a02f51 !important;
  padding: 10px 50px !important;
  letter-spacing: 2px;
  margin-top: 11px;
  text-decoration: none;
  transition: .5s !important;
  border-radius: 10px;
}
.custom-btn:hover{
  background: #d8d8d8 !important;
  border: 2px solid #a02f51 !important;
  color: #000000 !important;
  transition: .5s;
  text-decoration: none;
}
.section-title{
  text-align: center;
  margin-bottom: 60px;
}
.slider-card{
  margin: 0 5px;
}
.slick-next:before, .slick-prev:before {
  color: #fb0b0b !important;
}

/* ==== tab === */
.nav-item{
  position: relative;
}
.nav-tabs .nav-link.active{
  background-color: #02b3e4 !important;
  color: #ffffff !important;
}
.nav-tabs .nav-link.active:after{
  content: "";
  position: absolute;
  display: block;
  background-color: #02b3e4;
  width: .83437rem;
  height: .83437rem;
  -webkit-transform: rotate(
          45deg
  );
  -moz-transform: rotate(45deg);
  transform: rotate(
          45deg
  );
  top: 85%;
  right: 45%;
  z-index: -1;
}
/* ==== tab end === */

/* ==== card ==== */
.card{
  position: relative;
  overflow: hidden;
}
.card-img{
  height: 150px;
  box-shadow: 1px 5px 5px #afaaaa;
}
.card-title{
  font-size: 16px !important;
  height: 40px;
}
.instructor{
  display: block;
  color: #797979;
}
.rating{
  display: block;
  color: #F7B500 !important;
}
.rating-number{
  color: #000000 !important;
}
.difficulty{
  display: block;
}
#overlay4 {
  cursor: pointer;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  background: #fffcfcd6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  transform: translateX(-100%);
  opacity: 0;
  padding: 5px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.overlay-title{
  font-size: 20px !important;
  height: 40px;
}
.card:hover #overlay4 {
    opacity: 1;
    transform: translateX(0px);
  }

/* ==== card end ==== */

@media (min-width: 1280px) {
  .container {
    max-width: 1200px !important;
  }
}