html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}



.title {
  color: #a02f51;
  letter-spacing: 6px;
  text-shadow: 1px 0px 2px #fffdfd;
}


.slider-card {
  margin: 0 5px;
}
.slick-next:before,
.slick-prev:before {
  color: #fb0b0b !important;
}

/* ==== tab === */
.nav-item {
  position: relative;
}
.nav-tabs .nav-link.active {
  background-color: #02b3e4 !important;
  color: #ffffff !important;
}
.nav-tabs .nav-link.active:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #02b3e4;
  width: 0.83437rem;
  height: 0.83437rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 85%;
  right: 45%;
  z-index: -1;
}
/* ==== tab end === */

/* ==== card ==== */
.card {
  position: relative;
  overflow: hidden;
}
.card-image{
  height: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 5px 5px #afaaaa;
}
.card-image img{
  height: 100%;
}
.card-title{
  font-size: 16px !important;
  height: 40px;
}
.instructor {
  display: block;
  color: #797979;
}

.difficulty{
  display: block;
  text-align: right;
  font-size: 15px;
}
#overlay {
  cursor: pointer;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  background: rgb(0 0 0 / 78%);
  color: #fafafa;
  width: 50%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  transform: translateX(100%);
  opacity: 1;
  padding: 15px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.overlay-content{
  width: 100%;
  color: #ddd;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lectures span{
  font-size: 14px;
}
.rating{
  display: block;
}
.ratingIcon {
  color: #ede11a !important;
  font-size: 15px;
}
.rating-number{
  font-weight: 800;
}
.language {
  display: block;
}
.cart-button{
  padding: 5px 20px;
  background: #1fe3ef;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.card:hover #overlay {
  opacity: 0;
  transform: translateX(200%);
}

/* ==== card end ==== */

@media (min-width: 1280px) {
  .container {
    max-width: 1660px !important;
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
}
