.layer {
  margin-bottom: 8em;
}
.sectionTitle {
  text-align: center;
  margin-bottom: 40px;
}
.secondTitle{
  text-align: center;
  margin-bottom: 25px;
}

.innerBanner{
  background-color: #2e3d49;
  padding: 100px;
  text-align: center
}
.innerBanner h2{
  color: aliceblue;
}
.innerBanner p{
  color: aliceblue;
  font-size: 18px;
  margin-bottom: 20px;
}